@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border:0;
}
 

body {
	font-family: "黑体";
	font-size: 20px;
	line-height: 1.5;
	color: #333;
	background-color: #e8814d;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#wrapper { 
	width: 1150px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#content {
	margin-top: 265px;
}
#box_1 {
	background-image: url(../images/01.gif);
	background-repeat: no-repeat;
	background-position: center top;
	height: 105px;
	padding-top: 80px;
	padding-left: 290px;
}
#box_2 {
	background-image: url(../images/02.gif);
	background-repeat: no-repeat;
	background-position: center top;
	height: 105px;
	padding-top: 80px;
	padding-left: 290px;
}
#box_3 {
	background-image: url(../images/03.gif);
	background-repeat: no-repeat;
	background-position: center top;
	height: 105px;
	padding-top: 80px;
	padding-left: 290px;
}
#box_4 {
	background-image: url(../images/04.gif);
	background-repeat: no-repeat;
	background-position: center top;
	height: 105px;
	padding-top: 80px;
	padding-left: 290px;
}
#box_5{
	background-image: url(../images/05.gif);
	background-repeat: no-repeat;
	background-position: center top;
	height: 105px;
	padding-top: 80px;
	padding-left: 290px;
}
#footer {
	font-size: 14px;
	color: #FFF;
	text-align: center;
	height: 70px;
	margin-top: 20px;
}
