@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	bordew:0;
}

#wrapper {
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#header {
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 410px;
	width: 1024px;
}
#content_wrapper {
	background-image: url(../images/content_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 385px;
	width: 1024px;
}
#content {
	padding-left: 70px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 600px;
}
