@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
floatr {
	float: right;
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.floatl {
	float: left;
}
.clear {
	clear: both;
}
body {
	font-family: "Times New Roman", serif;
	font-size: 12px;
	background-color: #fff;
}
#container {
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#header {
	background-image: url(../images/header-bg.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 426px;
	width: 900px;
	margin-top: 45px;
}
#logo {
	background-image: url(../images/logo.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	height: 80px;
	width: 146px;
}
#top-links {
	float: right;
	width: 400px;
}
#top-links ul {
	padding-top: 56px;
}
#top-links li {
	color: #6d7586;
	float: left;
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 0px;
	padding-left: 7px;
	list-style-type: none;
}
#top-links li a {
	line-height: 20px;
	color: #6d7586;
	text-decoration: none;
	display: block;
	padding-left: 5px;
}
#top-links li a span {
	color: #6d7586;
	text-decoration: none;
	display: block;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 5px;
}
#top-links li a:hover {
	text-decoration: none;
	background-image: url(../images/li-left-bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	color: #fff;
}
#top-links li a:hover span {
	color: #fff;
	text-decoration: none;
	background-image: url(../images/li-right-bg.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#top-links li a.active {
	text-decoration: none;
	background-image: url(../images/li-left-bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	color: #fff;
}
#top-links li a.active span {
	color: #fff;
	text-decoration: none;
	background-image: url(../images/li-right-bg.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#content-box {
	float: left;
	width: 900px;
}
#col-1 {
	float: left;
	width: 260px;
}
#col-1 img {
	float: left;
	margin-right: 10px;
}
#col-1 h1 {
	font-size: 22px;
	font-weight: normal;
	color: #000;
	padding-bottom: 2px;
}
#col-1 span {
	font-weight: bold;
	color: #9f9f9f;
}
#col-1 li {
	padding-top: 25px;
	list-style-type: none;
}
#col-1 li a {
	font-weight: bold;
	color: #505a94;
}
#col-1 li p {
	color: #a7a2a8;
	line-height: 22px;
	padding-top: 15px;
}
#col-2 {
	float: left;
	width: 270px;
	padding-left: 50px;
}
#col-2 img {
	float: left;
	padding-right: 8px;
}
#col-2 h1 {
	font-size: 22px;
	font-weight: normal;
	color: #000;
	padding-bottom: 2px;
}
#col-2 span {
	font-weight: bold;
	color: #9f9f9f;
}
.col-2-content {
	float: left;
	width: 270px;
	margin-top: 35px;
}
.col-2-content img {
	float: left;
}
.col-2-text {
	float: right;
	width: 175px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdfe1;
}
.col-2-text span {
	font-weight: bold;
	color: #505a94;
}
.col-2-text p {
	color: #a7a2a8;
	line-height: 20px;
}
.col-2-text a {
	color: #af2409;
	text-decoration: none;
	text-align: right;
	display: block;
}
#col-3 {
	float: left;
	width: 280px;
	margin-left: 40px;
}
#bio-section img {
	float: left;
	padding-right: 10px;
}
#bio-section h1 {
	font-size: 22px;
	font-weight: normal;
	color: #000;
	padding-bottom: 5px;
}
#bio-section span {
	font-weight: bold;
	color: #9f9f9f;
}
#bio-section-content {
	padding-top: 35px;
}
#bio-section-content img {
	float: left;
}
#bio-section-text {
	line-height: 20px;
	color: #a7a2a8;
	float: right;
	width: 175px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdfe1;
}
#bio-section-text a {
	color: #af2409;
	text-decoration: none;
	text-align: right;
	display: block;
	padding-top: 7px;
}
#contact-section {
	clear: both;
	width: 280px;
	padding-top: 45px;
}
#contact-section img {
	float: left;
	padding-right: 10px;
}
#contact-section h1 {
	font-size: 22px;
	font-weight: normal;
	color: #000;
	padding-bottom: 0px;
}
#contact-section span {
	font-weight: bold;
	color: #9f9f9f;
}
#contact-info {
	float: left;
	width: 270px;
	padding-top: 25px;
}
#contact-info img {
	float: left;
	margin-top: 30px;
}
#contact-info span {
	font-weight: bold;
	color: #505a94;
	display: block;
	padding-bottom: 15px;
}
#contact-info p {
	color: #a7a2a8;
	padding-bottom: 5px;
}
#contact-info p span {
	font-weight: normal;
	color: #000;
	display: inline;
}
#contact-info a {
	color: #af2409;
	text-decoration: none;
}
#footer {
	color: #999;
	text-align: center;
	float: left;
	height: 50px;
	width: 900px;
	margin-top: 30px;
}
